.bgd{
    background: url("./new-year-gif-5.gif") center center no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
html,body{
    background-color: rgb(0, 255, 191);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 300px;
    text-align: center;
}
